header {
    background-color:  #c999af;
    padding: 50px 0px;
}
.barraDeNavegacion {
    width: 1365px;
    position: relative;
    margin: 0 auto;

}
nav {
    position: absolute;
    top: 40px;
    right: 20px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;

}

nav a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}