h1 {
    background-color:#468189 ;
    line-height: 3cm;
    text-align: center;
    
}

body {
    background-color: #77aca2
}

p {
    text-align: center;
    font-size: 30px; 
    color: #031926;
}
