body{
    background-color: #e3b1c8;
}

header {
    background-color:  #c999af;
    padding: 50px 0px;
}

.barraDeNavegacion {
    width: auto
    position: relative;
    margin: 0 auto;

}
nav {
    position: absolute;
    top: 40px;
    right: 20px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;

}

nav a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
    /* el comando hover captura los eventos del mouse */
nav a:hover{
    color:#a36380 ;
    text-decoration: underline;
}

.loQueHago{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.loQueHago li{
    display: inline-block;
    text-align: center;
    width: 40%;
    vertical-align: top;
    margin: 0 4.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
}

.loQueHago li:hover{
    border-color: #a36380;
}

.loQueHago h2{
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
}

#imagen1{
    max-width: 100%;
    max-height: 100%;
}

#imagen2{
    max-width: 100%;
    max-height: 80%;
}